<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
<p th:text="${student.getName() + ', ' + student.getLastname() + ', ' + student.getAge()}">VALUE</p>
<p th:text="${'Phone: ' + student.getPhone()}">VALUE</p>
<p th:text="${'Email: ' + student.getEmail()}">VALUE</p>
<p th:text="${student.getId()}">VALUE</p>

<a th:href="@{/students/{id}/edit(id=${student.getId()})}">Edit</a>

<form th:method="DELETE" th:action="@{/students/{id}(id=${student.getId()})}">
    <input type="submit" value="Delete"/>
</form>
</body>
</html>